---
import Search from "../components/Search/Search.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div class="top-header">
        <img
          alt="Pokemon logo"
          class="logo"
          src="/pokemon_logo.svg"
          height="56px"
          width="152px"
        />
        <Search client:load />
      </div>
    </header>
    <main>
      <slot />
    </main>
    <div class="fixed-search-box">
      <Search client:load />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --primary: #ff0000;
    --secondary: #cc0000;
    --accent: #ffde00;
    --accent-gradient: linear-gradient(
      to right,
      var(--secondary),
      var(--primary),
      var(--secondary)
    );
    --page-max-width: 72rem;
    --titanium-gradient: linear-gradient(
      to bottom right,
      #bbb,
      #bfbfbf,
      #c9c9c9,
      #bfbfbf,
      #bbb
    );
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  body {
    margin: 0;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: var(--accent-gradient);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
  }

  main {
    margin: auto;
    padding: 0 1rem;
    max-width: var(--page-max-width);
  }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    max-width: var(--page-max-width);
    margin: auto;
  }

  .top-header > astro-island {
    display: none;
  }

  .logo {
    margin-top: -2px;
  }

  .fixed-search-box {
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 4rem;
    background-image: var(--titanium-gradient);
    width: 100%;
    box-shadow: 0 0 3rem 0rem #999;
  }

  @media only screen and (min-width: 600px) {
    .top-header {
      justify-content: space-between;
    }

    .top-header > astro-island {
      display: contents;
    }

    .fixed-search-box {
      display: none;
    }

    .top-header .search-bar {
      display: block;
    }
  }
</style>
